<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
	
	<!--表名 -->
	<sql id="tableName">
		shop_comment
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		order_id,	
		user_id,	
		comment_content,	
		comment_pic,	
		addtime,	
		comment_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{order_id},	
		#{user_id},	
		#{comment_content},	
		#{comment_pic},	
		#{addtime},	
		#{comment_id}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			comment_id = #{comment_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			order_id = #{order_id},
			user_id = #{user_id},
			comment_content = #{comment_content},
			comment_pic = #{comment_pic},
			addtime = #{addtime},
		comment_id = comment_id
		where 
		comment_id = #{comment_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			comment_id = #{comment_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select 
		t1.order_id, t1.user_id, t1.comment_content, t1.comment_pic, t1.addtime, t1.comment_id, t2.goods_name,t2.goods_price
		from 
		shop_comment t1 left join shop_goods t2 on t1.goods_id = t2.goods_id 
		where 1=1 order by addtime desc 
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			comment_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 壹仟科技 357788906 -->
</mapper>