<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqwy.zhnm.base.dao.DelivererCostViewMapper">

    <select id="get" parameterType="String" resultType="com.wqwy.zhnm.base.component.dto.DelivererCostView">
		SELECT
			type_id typeId,
			deliverer_id delivererId,
			status status,
			cost cost,
			type type,
			addtime addtime
			FROM v_deliverer_cost
			WHERE type_id = #{typeId}
	</select>

    <select id="getCountByCondition" parameterType="com.wqwy.zhnm.base.component.dto.DelivererCostView"
            resultType="Integer">
        SELECT
        count(*)
        FROM v_deliverer_cost
        WHERE 1 = 1
        <if test="typeId!=null">and type_id = #{typeId}</if>
        <if test="delivererId!=null">and deliverer_id = #{delivererId}</if>
        <if test="status!=null">and status = #{status}</if>
        <if test="cost!=null">and cost = #{cost}</if>
        <if test="type!=null">and type = #{type}</if>
        <if test="addtime!=null">and addtime = #{addtime}</if>
        <if test="isToday!=null">and date(addtime)=curdate()</if>
        <if test="query==1">and date(addtime)=curdate()</if>
        <if test="query==2">and date(addtime)=DATE_SUB(curdate(),INTERVAL 1 DAY)</if>
        <if test="query==3">and YEARWEEK(date_format(addtime,'%Y-%m-%d')) = YEARWEEK(now())</if>
        <if test="query==4">and YEARWEEK(date_format(addtime,'%Y-%m-%d')) = YEARWEEK(now())-1</if>
        <if test="query==5">and date_format(addtime,'%Y-%m')=date_format(now(),'%Y-%m')</if>
        <if test="query==6">and date_format(addtime,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1
            MONTH),'%Y-%m')
        </if>
    </select>

    <select id="findList" parameterType="com.wqwy.zhnm.base.component.dto.DelivererCostView"
            resultType="com.wqwy.zhnm.base.component.dto.DelivererCostView">
        SELECT
        type_id typeId,
        deliverer_id delivererId,
        status status,
        cost cost,
        type type,
        addtime addtime
        FROM v_deliverer_cost
        WHERE 1 = 1
        <if test="typeId!=null">and type_id = #{typeId}</if>
        <if test="delivererId!=null">and deliverer_id = #{delivererId}</if>
        <if test="status!=null">and status = #{status}</if>
        <if test="cost!=null">and cost = #{cost}</if>
        <if test="type!=null">and type = #{type}</if>
        <if test="addtime!=null">and addtime = #{addtime}</if>
    </select>

    <select id="findListByPage" parameterType="com.wqwy.zhnm.base.component.dto.DelivererCostView"
            resultType="com.wqwy.zhnm.base.component.dto.DelivererCostView">
        SELECT
        type_id typeId,
        deliverer_id delivererId,
        status status,
        cost cost,
        type type,
        addtime addtime
        FROM v_deliverer_cost
        WHERE 1 = 1 and status in (5,25)
        <if test="typeId!=null">and type_id = #{typeId}</if>
        <if test="delivererId!=null">and deliverer_id = #{delivererId}</if>
        <if test="status!=null">and status = #{status}</if>
        <if test="cost!=null">and cost = #{cost}</if>
        <if test="type!=null">and type = #{type}</if>
        <if test="addtime!=null">and addtime = #{addtime}</if>
        <if test="query==1">and date(addtime)=curdate()</if>
        <if test="query==2">and date(addtime)=DATE_SUB(curdate(),INTERVAL 1 DAY)</if>
        <if test="query==3">and YEARWEEK(date_format(addtime,'%Y-%m-%d')) = YEARWEEK(now())</if>
        <if test="query==4">and YEARWEEK(date_format(addtime,'%Y-%m-%d')) = YEARWEEK(now())-1</if>
        <if test="query==5">and date_format(addtime,'%Y-%m')=date_format(now(),'%Y-%m')</if>
        <if test="query==6">and date_format(addtime,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1
            MONTH),'%Y-%m')
        </if>
        <if test="isToday!=null">and date(addtime)=curdate()</if>
        ORDER BY addtime DESC
    </select>

    <select id="getTotalPrice" parameterType="com.wqwy.zhnm.base.component.dto.DelivererCostView"
            resultType="java.math.BigDecimal">
        SELECT
        sum(cost) totalPrice
        FROM v_deliverer_cost
        WHERE 1 = 1 and status in (5,25)
        <if test="typeId!=null">and type_id = #{typeId}</if>
        <if test="delivererId!=null">and deliverer_id = #{delivererId}</if>
        <if test="status!=null">and status = #{status}</if>
        <if test="type!=null">and type = #{type}</if>
        <if test="addtime!=null">and addtime = #{addtime}</if>
        <if test="query==1">and date(addtime)=curdate()</if>
        <if test="query==2">and date(addtime)=DATE_SUB(curdate(),INTERVAL 1 DAY)</if>
        <if test="query==3">and YEARWEEK(date_format(addtime,'%Y-%m-%d')) = YEARWEEK(now())</if>
        <if test="query==4">and YEARWEEK(date_format(addtime,'%Y-%m-%d')) = YEARWEEK(now())-1</if>
        <if test="query==5">and date_format(addtime,'%Y-%m')=date_format(now(),'%Y-%m')</if>
        <if test="query==6">and date_format(addtime,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1
            MONTH),'%Y-%m')
        </if>
        <if test="isToday!=null">and date(addtime)=curdate()</if>
    </select>

</mapper>