<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
        <!-- 打印查询语句 -->  
        <setting name="logImpl" value="LOG4J" />  
    
    </settings>
    <!-- 实体类加载 -->
	<typeAliases>
		<typeAlias type="org.change.entity.system.User" alias="User"/>
		<typeAlias type="org.change.entity.system.Role" alias="Role"/>
		<typeAlias type="org.change.entity.system.Menu" alias="Menu"/>
		<typeAlias type="org.change.entity.system.Dictionaries" alias="Dictionaries"/>
		<typeAlias type="org.change.entity.system.Department" alias="Department"/>
		<typeAlias type="org.change.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.fh.entity.system.Market" alias="market"/>
		<typeAlias type="com.fh.entity.system.Category" alias="category"/>
		<typeAlias type="com.fh.entity.system.Balance" alias="balance"/>
		<typeAlias type="com.fh.entity.system.Deliverer" alias="deliverer"/>
		<typeAlias type="com.fh.entity.system.Seller" alias="seller"/>
		<typeAlias type="org.change.entity.Page" alias="Page"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="org.change.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
</configuration>