.demo{width:410px;}
.stamp *{padding: 0;margin: 0;list-style:none;font-family:"Microsoft YaHei",'Source Code Pro', Menlo, Consolas, Monaco, monospace;}

.stamp {
height: 140px;
padding: 0 10px;
margin-bottom: 2px;

position: relative;
overflow: hidden;


}
.stamp:before {
content: '';
position: absolute;
top:0;
bottom:0;
left:10px;
right:10px;

z-index: -1;
}
.stamp:after {
content: '';
position: absolute;
left: 10px; 
top: 10px; 
right: 10px; 
bottom: 10px;
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
z-index: -2;
}

.stamp i{
position: absolute;
left: 20%;
top: 45px;
height: 190px;
width: 390px;
background-color: rgba(255,255,255,.15);
transform: rotate(-30deg);
}
.stamp .par{
float: left;
padding: 16px 15px;
width:60%;
border-right:2px dashed rgba(255,255,255,.3);
text-align: left;
}
.stamp .par p{color:#fff;font-size: 16px;
    line-height: 21px;}
.stamp .par span{
font-size: 50px;
color:#fff;
margin-right: 5px;
line-height: 65px;
}
.stamp .par .sign{font-size: 13px;}
.stamp .par sub{position: relative;top:-5px;
color:rgba(255,255,255,.8);
}
.stamp .copy{
/* display: inline-block; */
padding:21px 0;

vertical-align: text-bottom;
font-size: 30px;
color:rgb(255,255,255);
text-align: center;
line-height: initial;
}
.stamp .copy p{font-size: 16px;margin-top: 15px;}
.stamp01{
background: #50ADD3;
background-position: 9px 3px;
}
.stamp01:before{
background-color:#F39B00;
}
