<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SellerIntegralDetailMapper">

	<!--表名 -->
	<sql id="tableName">
		SELLER
	</sql>
	<sql id="sellerPointsDetail">
	   SELLER_POINTS_DETAIL
	</sql>
	  <!-- 商户积分明细 -->
	<select id="IntegralDetaillistPage" parameterType="page" resultType="pd" >
		select  u.ID,             
				u.SELLER_ID,      
				u.CHANGED_POINTS, 
				u.UPDATE_TIME,    
				u.CHANGED_REASON, 
				u.OPERATOR,       
				u.CREATE_TIME,    
				u.AUDITOR,        
				u.AUDIT_TIME,    
				u.REMARK,         
                t.NAME,
                T.ACCOUNT
		from <include refid="sellerPointsDetail"></include> u,<include refid="tableName"></include> t
		where u.SELLER_ID = t.ID
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
		and 
				(
					 t.ACCOUNT LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					 t.NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		 </if>
		 order by u.CREATE_TIME desc
	   </select>
</mapper>