<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsercouponMapper">
	
	<!--表名 -->
	<sql id="tableName">
		shop_usercoupon
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		coupon_id,	
		addtime,
		user_id,
		status,	
		usercoupon_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{coupon_id},	
		#{addtime},
		#{user_id},
		#{status},	
		#{usercoupon_id}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			usercoupon_id = #{usercoupon_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		status = #{status}
		where 
		coupon_id = #{coupon_id}
		and user_id = #{user_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="usercoupon_id != null and usercoupon_id !=''">
		and usercoupon_id = #{usercoupon_id}
		</if>
		<if test="coupon_id != null and coupon_id !=''">
		and coupon_id = #{coupon_id}
		</if>
		<if test="user_id != null and user_id !=''">
		and user_id = #{user_id}
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		t1.coupon_id,	
		t1.addtime,
		t1.user_id,
		t1.status,	
		t1.usercoupon_id,
		t2.coupon_name,
		t2.coupon_price,
		t2.starttime,
		t2.endtime,
		t2.use_price
		from 
		shop_usercoupon t1
		left join shop_coupon t2 on t1.coupon_id=t2.coupon_id
		where 
		status in (1,2)
		and user_id=#{pd.user_id}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		t1.coupon_id,	
		t1.addtime,
		t1.user_id,
		t1.status,	
		t1.usercoupon_id,
		t2.coupon_name,
		t2.coupon_price,
		t2.starttime,
		t2.endtime,
		t2.use_price
		from 
		shop_usercoupon t1
		left join shop_coupon t2 on t1.coupon_id=t2.coupon_id
		where 
		status = 1
		and user_id=#{user_id}
		and t2.use_price <![CDATA[ <= ]]> #{order_total}
		and endtime <![CDATA[ >= ]]> #{nowtime}
		<if test="max==1">
		order by coupon_price desc
		</if>
		<if test="max!=1">
		order by t1.addtime desc
		</if>
	</select>
	
	<select id="count" parameterType="pd" resultType="java.lang.Integer">
		select
		count(1)
		from 
		<include refid="tableName"></include>
		where
		coupon_id = #{coupon_id}
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			usercoupon_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 用户已使用的代金券  -->
	<select id="userListAll" parameterType="pd" resultType="pd">
		select
		usercoupon_id,
		coupon_id,
		status,
		addtime,	
		user_id
		from 
		shop_usercoupon
		where 
		status = 0
		and user_id=#{user_id}
		and coupon_id=#{coupon_id}
		order by addtime desc
	</select>
	
	<!-- fh313596790qq(青苔) -->
</mapper>