<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CouponMapper">
	
	<!--表名 -->
	<sql id="tableName">
		shop_coupon
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		addtime,	
		starttime,	
		endtime,
		use_price,
		coupon_name,	
		coupon_price,	
		coupon_num,	
		coupon_count,	
		type,	
		coupon_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{addtime},	
		#{starttime},	
		#{endtime},	
		#{use_price},
		#{coupon_name},
		#{coupon_price},	
		#{coupon_num},	
		#{coupon_count},	
		#{type},	
		#{coupon_id}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			coupon_id = #{coupon_id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			starttime = #{starttime},
			endtime = #{endtime},
			use_price = #{use_price},
			coupon_name = #{coupon_name},
			coupon_price = #{coupon_price},
			coupon_num = #{coupon_num},
			coupon_count = #{coupon_count},
			type = #{type},
		coupon_id = coupon_id
		where 
		coupon_id = #{coupon_id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			coupon_id = #{coupon_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		addtime,	
		starttime,	
		endtime,
		use_price,
		coupon_name,	
		coupon_price,	
		coupon_num,	
		coupon_count,	
		type,	
		t1.coupon_id ,IFNULL(use_count,0) use_count from shop_coupon t1 
		LEFT JOIN  (select  count(1) use_count,coupon_id from shop_usercoupon) t2  on t1.coupon_id=t2.coupon_id
		order by addtime desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			coupon_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>